.container{
    /* max-width: 1500px;
    background-color: aquamarine;
    height: 100%; */
    display: grid;
    place-items: center;
    margin-top: 64px;
}
.main{
    width: 1200px;
    background-color: aquamarine;
    height: 100%;
    color: white;
}

.toolbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}
