<!-- <form (ngSubmit)="onSubmit()" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Login</mat-label>
    <input
      type="login"
      matInput
      [formControl]="loginFormControl"
      placeholder="login"
    />
    <mat-hint>Errors appear instantly!</mat-hint>
    @if (loginFormControl.hasError('required')) {
    <mat-error>Login is <strong>required</strong></mat-error>
    }

    <input
      type="password"
      matInput
      [formControl]="passwordFormControl"
      placeholder="password"
    />
    <mat-hint>Errors appear instantly!</mat-hint>
    @if (passwordFormControl.hasError('required')) {
    <mat-error>Password is <strong>required</strong></mat-error>
    }
    <button type="submit" matButton>Submit</button>
  </mat-form-field>
</form> -->

<form (ngSubmit)="onSubmit()" class="example-form">
  <div class="example-container">
    <mat-form-field hintLabel="Max 20 characters">
      <mat-label>Login</mat-label>
      <input
        matInput
        #input
        maxlength="20"
        (input)="onInput($event)"
      />
      <mat-hint align="end">{{value().length}}/20</mat-hint>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput [type]="hide() ? 'password' : 'text'" />
      <button
        matIconButton
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button type="submit" matButton>Submit</button>
  </div>
</form>
