<!-- <div class="companies-list-container">
  <div class="companies-header">
  <h1 class="companies-title">Организации</h1>
  @if (authService.isAuthenticated$ | async) {
  <button mat-raised-button 
          class="add-company-button"
          routerLink="/companies/create">
    <mat-icon>add</mat-icon>
    Добавить компанию
  </button>
   }
</div>


  <div class="companies-content">
    <div class="filters-section">
      <app-organization-filter></app-organization-filter>
    </div>

    <div class="main-content">
      @if (isLoading) {
        <div class="loading-spinner">
          <mat-spinner diameter="50"></mat-spinner>
        </div>
      }
      @else if (organizations().length === 0) {
        <div class="empty-list-message">
          <mat-icon>business</mat-icon>
          <p>Организации не найдены</p>
        </div>
      }
      @else {
        <div class="companies-grid">
          @for (organization of organizations(); track organization.id) {
            <app-organization-card 
              [organization]="organization"
              >
            </app-organization-card>
          }
        </div>

      }
    </div>
  </div>
</div> -->




<div class="companies-page-container">
  <div class="filters-column">
    <app-organization-filter></app-organization-filter>
  </div>
  
  <div class="companies-column">
    <mat-card class="companies-header">
      <h2>Найдено {{organizations().length}} организаций</h2>
    </mat-card>
    
    <div class="companies-list">
      <app-organization-card
        *ngFor="let organization of organizations()"
        [organization]="organization">
      </app-organization-card>
    </div>
    
    <!-- <mat-paginator [length]="totalItems"
                   [pageSize]="pageSize"
                   [pageIndex]="currentPage"
                   (page)="onPageChange($event)">
    </mat-paginator> -->
  </div>
  
  <div class="sidebar-column">
    <app-organization-sidebar></app-organization-sidebar>
  </div>
</div>
