<div class="users-management">
  <h2>Управление пользователями</h2>
  
  <table mat-table [dataSource]="users()" class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let user">{{ user.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Имя</th>
      <td mat-cell *matCellDef="let user">{{ user.name }}</td>
    </ng-container>

    <!-- Lastname Column -->
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef>Фамилия</th>
      <td mat-cell *matCellDef="let user">{{ user.lastName }}</td>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Роль</th>
      <td mat-cell *matCellDef="let user">
        @if (user.roleId == 1) {
          ADMIN
        }
        @else if (user.roleId == 2) {
          USER
        }
        @else if (user.roleId == 3) {
          MANAGER
        }
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Действия</th>
      <td mat-cell *matCellDef="let user">
        <button mat-icon-button color="primary" 
                (click)="grantRole(user.id)"
                matTooltip="Сделать менеджером">
          <mat-icon>security</mat-icon>
        </button>
        <button mat-icon-button color="warn" 
                (click)="blockUser(user.id)"
                matTooltip="Заблокировать">
          <mat-icon>block</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="needManager">
      <th mat-header-cell *matHeaderCellDef>Запрос на роль</th>
      <td mat-cell *matCellDef="let user">
        <mat-icon *ngIf="user.needManager" color="primary">check_circle</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>